<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM 
          "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="fileAppender" fileName="${sys:user.home}/rcoboldi-package-logs/rcoboldi.log"
            filePattern="$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
    </appenders>

    <loggers>
        <logger name="com.coherentlogic.coherent.data.model.core.domain" level="info" additivity="false">
            <appender-ref ref="consoleAppender"/>
            <appender-ref ref="fileAppender"/>
        </logger>

        <logger name="com.coherentlogic.rproject.integration.rcoboldi.api" level="info" additivity="false">
            <appender-ref ref="consoleAppender"/>
            <appender-ref ref="fileAppender"/>
        </logger>

        <root level="info" additivity="false">
            <appender-ref ref="consoleAppender"/>
            <appender-ref ref="fileAppender"/>
        </root>
    </loggers>
</log4j:configuration>
